CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_WG_RGB_LED_ENABLE=y
CONFIG_WG_RGB_LED_GPIO=48
CONFIG_WG_RGB_LED_FRAME_MS=40
CONFIG_WG_RGB_LED_BT_PULSE_MS=140
CONFIG_WG_RGB_LED_BRIGHTNESS_PCT=8
